<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Listings in details</h3>

    <ul>
      <li>Title : <%= listing.title %></li>
      <li>Description : <%= listing.description %></li>
      <li>Price : <%= listing.price.toLocaleString("en-IN")%> &#2547</li> 
      <li>Location : <%= listing.location %></li>
      <li>Country : <%= listing.country %></li>
    </ul>

    <br />
    
    <a href="/listings/<%= listing._id %>/edit">Edit"></a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
